main {
  .auctions {
    background: linear-gradient(346deg, #251928 0%, rgba(37, 25, 40, 0) 100%);
    padding-bottom: 65px;
    .heading {
      display: flex;
      margin: 0 auto;
      h3 {
        color: #f5fbf2;

        /* Display Text/Header Big */
        font-family: Oxanium;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 130px; /* 203.125% */
        margin-left: 50px;
        white-space: nowrap;
      }
      width: 449px;
      height: 130px;
      flex-shrink: 0;
      background: url(/img/Ellipse.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left center;
      margin-bottom: 84px;
    }
    .scrollCards {
      display: grid;
      //   grid-auto-columns: 100%;
      grid-column-gap: 10px;
      grid-auto-flow: column;
      //   display: flex;
      width: 1447px;
      height: 691px;
      //   background: #fff;
      margin-bottom: 66px;
      overflow-x: scroll;
      //   overflow-x: hidden;
      overflow-y: hidden;
      white-space: nowrap;
      margin: auto;
      margin-bottom: 50px;
      justify-content: space-between;
      gap: 42px;
      //   flex-direction: row;

      scroll-snap-type: x mandatory;

      .card {
        display: flex;
        flex-direction: column;
        width: 495px;
        height: 691px;
        flex-shrink: 0;
        background: #3d2942;
        scroll-snap-align: start;
        transition: all 0.2s;

        .cardWrapper {
          max-width: 431px;
          margin: 0 auto;
          padding-top: 30px;
          .about {
            margin-top: 30px;

            margin-bottom: 40px;

            .row1 {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 30px;

              .imgSide {
                display: flex;
                align-items: center;
                gap: 15px;

                .textContent {
                  h5 {
                    width: 146px;
                    height: 31px;
                    flex-shrink: 0;
                    color: #f5fbf2;
                    font-family: Work Sans;
                    font-size: 28px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 35.452px; /* 126.615% */
                  }
                  p {
                    color: #bdaac1;
                    font-family: Work Sans;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 35.452px; /* 177.26% */
                  }
                }
              }

              .likeSide {
                display: flex;
                gap: 10px;
                p {
                  color: #76607a;
                  font-family: Work Sans;
                  font-size: 32px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 35.452px; /* 110.788% */
                }
              }
            }

            .row2 {
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin-bottom: 50px;

              p {
                color: #c6bfc8;
                font-family: Work Sans;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 35.452px; /* 147.717% */
              }

              span {
                color: #f5fbf2;
                font-family: Oxanium;
                font-size: 24px;
                font-style: normal;
                font-weight: 700;
                line-height: 35.452px; /* 147.717% */
              }
            }

            .placeBtn {
              flex-shrink: 0;
              border: 1px solid #fde8b3;
              background: rgba(233, 215, 167, 0.1);
              color: #fff;
              font-family: Work Sans;
              font-size: 24px;
              font-style: normal;
              font-weight: 500;
              line-height: 35.452px; /* 147.717% */
              letter-spacing: 1.2px;
              margin-left: 0;
              margin-top: 10px;
              padding: 21px 141px;

              &:hover {
                border: 1px solid var(--primary-color, #ffce4e);
                background: #ffce4e;
                color: #000;
              }
            }
          }
        }
      }
    }

    a {
      margin-left: 750px;
      padding: 15px 50px;
      flex-shrink: 0;
      color: #f5fbf2;
      font-family: Work Sans;
      font-size: 30px;
      font-style: normal;
      font-weight: 500;
      line-height: 35.452px; /* 118.174% */
      letter-spacing: 1.5px;
      text-decoration: none;
      border: 1px solid var(--primary-color, #ffce4e);

      &:hover {
        border: 1px solid var(--primary-color, #ffce4e);
        background: #ffce4e;
        color: #000;
      }
    }
  }
}
